@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

:root{
    --champagne: rgb(244, 242, 232);
    --space-cadet: #002D62;
    --darkest: #00162d;
    --aero: #6BBAEC;
}

.main-banner{
    background-color: var(--champagne) !important;
    font-family: 'Lora', serif;
    padding-bottom: 0 !important;
}

.aero-bg{
    background-color:  var(--space-cadet) !important;
    font-family: 'Lora', serif;
}

.light-blue-bg{
    background-color:  var(--aero) !important;
    font-family: 'Lora', serif;
}

.light-blue-bg p{
    font-size: 21px;
    color: var(--darkest)
}

.champ-bg{
    background-color: var(--champagne) !important;
}

.darkest-text{
    color: var(--darkest) !important;
}

footer{
    background-color: var(--darkest);
    position:sticky;
    padding: 0.001rem;
    font-family: 'Lora', serif;
}

#profile-picture{
    height: 45vw;
    z-index: -1 !important;
}

header{
    z-index: 300 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav{
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    background-color: white;
}

.personal-details label,
.personal-details p{
    display: inline;
    font-size: 25px;
}

.personal-details p{
    margin-left: 10px;
}

.nav-link:hover {
    color: var(--space-cadet) !important;
}

.no-bottom-margin{
    margin-bottom: 0 !important;
}

.underline {
    display: inline-block;
    position: relative;
    color: var(--space-cadet);
  }
  
  .underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--space-cadet);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .underline-light {
    display: inline-block;
    position: relative;
    color: var(--champagne);
  }
  
  .underline-light:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--champagne);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline-light:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .big-padding-top{
    padding-top: 5rem;
  }

  .list-group-item-champ{
    background-color: var(--champagne) !important;
    font-size: 19px;
  }

  .list-group-item-space{
    background-color: var(--space-cadet) !important;
    font-size: 19px;
  }

  .no-link-feature:hover{
    text-decoration: none !important;
    color: var(--space-cadet) !important;
    font-family: 'Lora', serif;
  }

.light-link{
    color: var(--champagne) !important;
}

.light-link:hover{
    color: white !important;
}

#banner{
    padding-top: 0;
}

article#banner{
    background-image: url('/images/banner-b.png') !important;
}

.div-pic{
    max-width: 100%;
    max-height: 100%;
}

.med-par{
    font-size: 20px;
}

details{
    font-size: 23px;
}

details p{
    color: var(--space-cadet)
}

.rounded-corners{
    border-radius: 25px;
}