@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

:root{
    --champagne: rgb(244, 242, 232);
    --space-cadet: #002D62;
    --darkest: #00162d;
}

.main-banner{
    background-color: var(--champagne) !important;
    font-family: 'Lora', serif;
    padding-bottom: 0 !important;
}

.aero-bg{
    background-color:  var(--space-cadet) !important;
    font-family: 'Open Sans', sans-serif;
}

.darkest-text{
    color: var(--darkest) !important;
}

footer{
    background-color: var(--darkest);
    position:sticky;
    padding: 0.001rem;
    font-family: 'Lora', serif;
}

#profile-picture{
    height: 45vw;
    z-index: -1 !important;
}

header{
    z-index: 300 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav{
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    background-color: white;
}

.personal-details label,
.personal-details p{
    display: inline;
    font-size: 25px;
}

.personal-details p{
    margin-left: 10px;
}

.nav-link:hover {
    color: var(--space-cadet) !important;
}

.no-bottom-margin{
    margin-bottom: 0 !important;
}

.underline {
    display: inline-block;
    position: relative;
    color: var(--space-cadet);
  }
  
  .underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--space-cadet);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }